body { background-image: url(http://colourlovers.com.s3.amazonaws.com/images/patterns/2244/2244508.png?1330212182); }
.content {
	width: 400px;
	height: auto;
	margin: auto;
	background: #EEE;
	font-family: helvetica;
	text-align: left;
	font-weight: lighter;
	padding: 15px;
}
.hello {
	font-size: 5em;
	margin-bottom: 10px;
}
.desc {
	font-size: 2.9em;
	margin-bottom: 5px;
}
.other { font-size: 2em; }